[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "opendatatoronto"]
	path = opendatatoronto
	url = https://github.com/sharlagelfand/opendatatoronto
	shallow = true
	registered = true
	oncran = true
[submodule "ckanr"]
	path = ckanr
	url = https://github.com/ropensci/ckanr
	shallow = true
	registered = false
	oncran = true
