[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "opendatatoronto"]
	path = opendatatoronto
	url = https://github.com/sharlagelfand/opendatatoronto
